<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.android.belidiet">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/icon_img"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.CreateAccount"
                android:parentActivityName=".activity.Login"/>
        <activity android:name=".activity.Profile">
        </activity>
        <activity
                android:name=".activity.MainPage"
                android:label="@string/title_activity_main"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".activity.Login">
        </activity>
        <activity android:name=".activity.Meals">
        </activity>
        <activity android:name=".activity.DeitPlans">
        </activity>
        <activity android:name=".activity.ViewAllMeals">
        </activity>
        <activity android:name=".activity.Cart">
        </activity>
        <activity android:name=".activity.Select">
        </activity>
        <activity android:name=".activity.Payment"
                android:parentActivityName=".activity.Cart">
        </activity>
        <activity android:name=".activity.Water">
        </activity>
        <activity android:name=".activity.AddMeal"
                android:parentActivityName=".activity.Login">
        </activity>
        <activity android:name=".activity.Login">
        </activity>
        <activity android:name=".activity.VerifyPhone">
        </activity>
        <activity android:name=".activity.Delivery">
        </activity>
        <activity android:name=".activity.MenuMeal">
        </activity>
        <activity android:name=".activity.ConfirmAddress"
                android:parentActivityName=".activity.Payment">
        </activity>
        <activity android:name=".activity.MiniDoc">
        </activity>
    </application>

</manifest>